build.*/
build/
*.obj
buildfiles/nbproject/private
buildfiles/out
builddir/
subprojects/packagecache
subprojects/expat-*
subprojects/fftw-*
subprojects/zlib-*
.xmake/
.DS_Store
test/sizeof
temp/*
test/test_convert
test/test_smash
test/test_nan

